:root {
  --hue: 195;
  --saturation: 85%;
  --lightness: 70%;
  --shadow-lightness: 5%;
  --color-bg: hsl(var(--hue), var(--saturation), var(--lightness));
  --color-border: hsl(var(--hue), 100%, var(--shadow-lightness));
  --color-shadow: hsl(var(--hue), var(--saturation), var(--shadow-lightness));

  --font-family: Arial, Helvetica, sans-serif;

  --border-radius: 1rem;
  --box-shadow: 0px var(--space-s) var(--space-m) 0px var(--color-shadow);
  --box-shadow-light: 0px var(--space-s) var(--space-s) 0px
    hsl(var(--hue), 50%, 48%);

  --space-s: 0.5rem;
  --space-m: 1rem;
  --space-l: 1.5rem;
  --space-xl: 2rem;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  appearance: none;
}

body {
  font-family: var(--font-family);
  margin: 0 auto;
  width: clamp(300px, 90vw, 1920px);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: "header header" "sidebar main";
  gap: var(--space-l);
}
.main,
.hero,
.sidebar {
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  border: 1px solid var(--color-border);
  background-color: var(--color-bg);
  padding: calc(var(--space-xl) * 2);
}
.hero {
  grid-area: header;
  font-size: 2rem;
}
.main {
  grid-area: main;
  background-color: var(--color-bg);
  width: 100%;
  /* min-height: 60svh; */
}
.sidebar {
  grid-area: sidebar;
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 1fr 1fr 4fr;
  gap: calc(var(--space-xl) * 2);
}
.button {
  padding: var(--space-m);
  font-size: 1.5rem;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-border);
  box-shadow: var(--box-shadow-light);
  background-color: hsl(var(--hue), var(--saturation), 85%);
  transition: border 150ms ease-out, background-color 200ms ease-out,
    box-shadow 250ms ease-out;
}
.button:hover,
.button:focus {
  border: 1px solid black;
  box-shadow: 0px 04px 15px 0px rgba(0, 0, 0, 0.8);
  background-color: hsl(var(--hue), var(--saturation), 15%);
  color: hsl(var(--hue), var(--saturation), 95%);
  font-weight: 600;
}
button:disabled, .button:hover:disabled{
  background-color: var(--color-bg);
  border: 1px solid var(--color-border);
  color: gray;
  font-weight: inherit;
  font-size: inherit;
  box-shadow: var(--box-shadow-light);


}
.input-container {
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
  gap: var(--space-m);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-shadow);
  padding: var(--space-m);
  box-shadow: var(--box-shadow-light);
}
.playerNameInput,
.input-container select {
  border-radius: var(--space-s);
  padding: calc(var(--space-s) / 2) var(--space-s);
  margin-top: var(--space-s);
}
.input-container select {
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  background-color: white;
}
.input-container option {
  display: block;
  font-family: inherit;
  font-size: inherit;
  padding: var(--space-s);
  background-color: hsl(var(--hue), 50%, 85%);
  color: var(--color-text, black);
  border-radius: var(--space-s);
}

.playerInputLabel {
  font-weight: 600;
}
.player-score {
  margin: var(--space-s) auto;
}
.game-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-content: center;
  gap: var(--space-xl);
  width: 100%;
  height: 100%;
  min-height: 900px;
}

.cell {
  background-color: hsl(var(--hue), var(--saturation), 60%);
  box-shadow: var(--box-shadow-light);
  border-radius: var(--space-m);
  border: 2px solid var(--color-border);
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: all 150ms;
}

.cell[data-sign="X"] {
  background-image: url(../assets/images/circle-xmark-svgrepo-com.svg);
  background-color: hsl(var(--hue), 50%, 40%);
}

.cell[data-sign="O"] {
  background-image: url(../assets/images/circle-svgrepo-com.svg);
  background-color: hsl(var(--hue), 50%, 40%);
}

.cell:hover,
.cell:focus {
  border: 3px solid var(--color-border);
}
.cell:hover:not([data-sign]),
.cell:focus:not([data-sign]) {
  background-color: hsl(var(--hue), var(--saturation), 40%);
}

.cell.disabled{
  --disabled: hsl(var(--hue), var(--saturation), 75%);
  background-color: var(--disabled);
  box-shadow: initial;
  border: none;
}

.cell.disabled:hover, .cell.disabled:focus{
  background-color: var(--disabled);

  border: inherit;
}

dialog.gameResult{
  position: fixed;
  width:70%;
  height: 70%;
  margin: auto;
  inset:0px;
  display:none;
  place-content: center;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  background-color: var(--color-bg);

}
dialog.gameResult[open]{
  display: grid;
}


.dialogContent{

  width: 100%;
  height: 100%;
  padding: 4rem;
  font-size:  4rem;
  border-radius: var(--border-radius);

}
.dialogContent form{
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-light);
  display: flex;
  flex-direction: column;
  align-content: start;
  padding: calc(var(--space-xl) *2);
  min-width: 30dvw;
  min-height: 30dvh;;
  background-color: hsl(var(--hue), var(--saturation), 85%);
  text-align: center;
  text-transform: uppercase;
}
dialog.gameResult::backdrop{
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  inset: 0;
  width: 100lvw;
  height: 100lvh;
}

dialog .dialogHeading{
  font-weight: 900;
  font-size: 150%;
  margin-bottom: var(--space-xl);
}
dialog .dialogText{
  font-size: 150%;
  margin-bottom: auto;
}
dialog .button{
  margin-bottom: var(--space-xl);
}